.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.btn {
  border: none;
  background-color: none;
  letter-spacing: 1px;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn:hover{
  cursor: pointer;
}

.btn:disabled{
  background-color: #666666;
  cursor: unset;
}
.btn:active{
  -webkit-filter: brightness(70%);
	-moz-filter: brightness(70%);
	-o-filter: brightness(70%);
	-ms-filter: brightness(70%);
	filter: brightness(70%);
}

.btn-lg {
  font-size: 1.3em;
  padding: 1.2rem;
}

.btn-yellow{
  background-color: #e5e918;
}

.button__icon , .button__icon--end{
    transform: translateY(7px);
    margin-top: -1rem;
    padding: none;
}

.card-evento {
  filter: brightness(65%);
}

.card-evento:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: translateY(-1.2rem);
  transition-duration: .3s;
  transition-delay: .1s;
  border: 2px solid yellow;
}

.evento:hover {
  cursor: pointer;
  transform: translateX(1.2rem);
  transition-duration: .3s;
  transition-delay: .1s;
  border: 2px solid yellow;
}

.main-wrapper {
  height: 100vh;
  background-position: center center;
  background-size: cover;
}

.item-evento {
  border: 4px solid #e5e918;
  background-color: black;
}

.yellow {
  color: #e5e918 !important;
}

.light{
  color: rgb(252, 252, 246);
}

.soft-light{
  color: rgb(185, 185, 182);
}

.text-center{
  text-align: center;
}
.va {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reduce {
  transform: scale(0.7);
  margin-left: -6rem;
  padding-left: -6rem;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
